body {
  background: blanchedalmond;
  text-align: center;
}

* {
  border: 3px solid rgb(244, 59, 114);
}

/*CONTAINER*/
.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

/*HEADER & FOOTER*/
.a, .c {
  flex-grow: 1;
  background-color: rgb(249, 138, 156);
}

/*MAIN*/
.b {
  flex-grow:3;
  background-color: pink;
}


@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    width: 100%;
  }
  .b, .c, .a {
    margin: 1em;
  }
}